<ul class="left-nav">
    <li rel-script="sub-menu" data-menu-id="coolclub" class="left-nav__item">
      <a
        href="/page/coolclub-chuong-trinh-khach-hang-than-thiet-cua-coolmate?itm_source=navbar"
        class="menu-main1"
        style="margin-bottom: 2px;"
        ><img
          src="https://mcdn.coolmate.me/image/November2024/mceclip0_77.png"
          alt="logo-coolclub"
      ></a>
    </li>
    <li rel-script="sub-menu" data-menu-id="84rising" class="left-nav__item">
      <a
        href="/84rising?itm_source=navbar"
        class="menu-main2"
        style="margin-bottom: 2px;"
        ><img src="https://www.coolmate.me/images/logo-84rising-own.svg" alt="logo-84rising" style="height: 14px;"
      ></a>
    </li>
    <li rel-script="sub-menu" data-menu-id="cxp" class="left-nav__item">
      <a
        href="/lp/coolxprint-mo-hinh-dat-san-xuat-theo-yeu-cau?itm_source=navbar"
        class="menu-main3"
        ><img src="https://www.coolmate.me/images/logo-coolxprint.svg" alt="logo-coolxprint" style="height: 10px;"
      ></a>
    </li>
  </ul>