<ul class="nav-main">
  <li rel-script="sub-menu" data-menu-id="coolclub" class="nav-main__item">
    <a
      href="/page/coolclub-chuong-trinh-khach-hang-than-thiet-cua-coolmate?itm_source=navbar"
      ga-tracking-value="topbar3-coolclub"
      ga-tracking-label="coolclub"
      class="menu-main1 keychainify-checked"
      style="margin-bottom: 2px;"
      ><img
        src="https://mcdn.coolmate.me/image/November2024/mceclip0_77.png"
        alt="logo-coolclub"
        style="height: 14px;"
    ></a>
  </li>
  <li rel-script="sub-menu" data-menu-id="84rising" class="nav-main__item">
    <a
      href="/84rising?itm_source=navbar"
      ga-tracking-value="topbar1-84rising"
      ga-tracking-label="84rising"
      class="menu-main2 keychainify-checked"
      style="margin-bottom: 2px;"
      ><img src="https://www.coolmate.me/images/logo-84rising-own.svg" alt="logo-84rising" style="height: 14px;"
    ></a>
  </li>
  <li rel-script="sub-menu" data-menu-id="cxp" class="nav-main__item">
    <a
      href="/lp/coolxprint-mo-hinh-dat-san-xuat-theo-yeu-cau?itm_source=navbar"
      ga-tracking-value="topbar1-cxp"
      ga-tracking-label="84rising"
      class="keychainify-checked"
      ><img src="https://www.coolmate.me/images/logo-coolxprint.svg" alt="logo-coolxprint" style="height: 10px;"
    ></a>
  </li>
</ul>

{% schema %}
{
  "name": "Top Bar",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Top Bar"
    }
  ],
  "class": "top-bar"
}
{% endschema %}
