<h1>Top Bar</h1>

{% schema %}
{
  "name": "Top Bar",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
        "name": "Top Bar",
    }
  ],
  "class": "top-bar"
}
{% endschema %}
